* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

ol, ul {
    list-style-type: none;
}

body {
    /* background-color: rgba(127, 127, 127, .2); */
    background: url("../images/bg.jpg") no-repeat;
    opacity: 0.9;
    z-index: 99999;
}

/* 关闭按钮 */

.close {
    font-size: 0.8rem;
    position: absolute;
    right: .4rem;
    top: .2rem;
    color: #b2bac2;
    cursor: pointer;
}

.forgetPassword {
    width: 12.5rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: .13rem .13rem .96rem rgba(59, 56, 56, 0.5);
    /* 水平垂直居中 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    width: 12.5rem;
    font-size: .83rem;
    text-align: center;
    margin-top: .42rem;
}

#username {
    padding-left: .4rem;
    border: .02rem solid rgba(127, 127, 127, 0.5);
}

#password {
    padding-left: .4rem;
    border: .02rem solid rgba(127, 127, 127, 0.5);
}

input {
    font-size: .32rem;
    width: 10.5rem;
    height: .9rem;
    margin-left: .9rem;
}

/* 登入按钮 */

#loging {
    width: 10.5rem;
    height: 1rem;
    margin-left: .9rem;
    margin-top: 0.4rem;
    display: block;
    background-color: #000;
    border-radius: .2rem;
    color: #fff;
    border: none;
    cursor: pointer;
}

#loging:hover {
    opacity: 0.8;
}

p {
    float: right;
    margin-right: 1.1rem;
    font-size: .28rem;
    color: #ccc;
    margin: .2rem 1.1rem 0rem 0;
}

.forgetPassword_login .existing {
    text-align: center;
    font-size: .32rem;
    margin-top: .5rem;
}

.forgetPassword_login .existing a {
    color: rgba(127, 127, 127, 0.5);
}

.forgetPassword_login .existing a span {
    color: #000;
    font-weight: 700;
}

/* 验证码 */

.forgetPassword_login .forgetPassword_verification {
    height: 1rem;
    width: 100%;
    margin-top: 1rem;
}

.forgetPassword_login #verification {
    padding-left: .4rem;
    border: .02rem solid rgba(127, 127, 127, 0.5);
    float: left;
    width: 5rem;
}

.forgetPassword_login .verification {
    border-radius: 0.5rem;
    float: right;
    width: 4rem;
    margin-right: 1.1rem;
    color: aliceblue;
    background-color: #000;
    border: 1px solid rgba(127, 127, 127, 0.5);
    cursor: pointer;
}

.forgetPassword_login .verification:hover {
    opacity: 0.8;
}

.forgetPassword_login .ty {
    font-size: .32rem;
    text-align: center;
    line-height: 1rem;
    background-color: rgba(127, 127, 127, 0.5);
    width: 10.5rem;
    height: 1rem;
    margin-left: .9rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    border-radius: .2rem;
}