* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style-type: none;
}

body {
    background-color: rgba(127, 127, 127, .2);
    z-index: 99999;
}

/* 关闭按钮 */

.sign .close {
    font-size: 0.8rem;
    position: absolute;
    right: .4rem;
    top: .2rem;
    color: #b2bac2;
}

.sign_interface {
    width: 12.5rem;
    background-color: white;
    border-radius: 10px;
    /* 水平垂直居中 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 盒子阴影 */
    box-shadow: .13rem .13rem .96rem rgba(59, 56, 56, 0.5);
}

.sign_interface .sign h2 {
    width: 12.5rem;
    font-size: .83rem;
    text-align: center;
    margin-top: .42rem;
}

.sign input {
    font-size: .32rem;
    width: 10.5rem;
    height: .9rem;
    margin-left: .9rem;
}

.sign #username {
    padding-left: .4rem;
    border: .02rem solid rgba(127, 127, 127, 0.5);
}

.sign #password {
    padding-left: .4rem;
    border: .02rem solid rgba(127, 127, 127, 0.5);
}

.sign #email {
    padding-left: .4rem;
    border: .02rem solid rgba(127, 127, 127, 0.5);
}

.sign p {
    float: right;
    margin-right: 1.1rem;
    font-size: .28rem;
    color: #ccc;
    margin: .2rem 1.1rem 0rem 0;
}

.sign .existing {
    text-align: center;
    font-size: .28rem;
    margin-top: .7rem;
}

.sign .existing a {
    color: black;
}

.sign .existing a span {
    font-weight: 700;
}

.sign #loging {
    margin-top: .1rem;
    display: block;
    background-color: #000;
    border-radius: .2rem;
    color: #fff;
    border: none;
    cursor: pointer;
}

.sign #loging:hover {
    opacity: 0.8;
}

.sign .agreement {
    font-size: .32rem;
    text-align: center;
    line-height: 1rem;
    background-color: rgba(127, 127, 127, 0.5);
    width: 10.5rem;
    height: 1rem;
    margin-left: .9rem;
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
    border-radius: .2rem;
}

.sign .agreement a {
    color: #000;
}